
/* ========== Left Sidebar ========== */
.rounded-circle{
    background-color: black;
    padding: 2%;
    opacity: .4;

}
.left_side_bar {
    font-family: 'Poppins', sans-serif;
    position: fixed; 
    background-color: rgba(50, 71, 94, 0.4);
    /* padding: 1rem;  */
    /* border-radius: 0 24px 0 24px; */
    top: 0;
    left: 0;
    height: 100%; /* Full height of the screen */
    z-index: 10;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
    overflow: auto; 
}

.sidebar-icon {
    margin-right: 8px; /* Adjust the spacing as needed */
}

/* Invisible Buttons in Left Sidebar */
.invisible-btn {
    background-color: #011329 !important;
    color: white !important;
    border: 2px solid transparent !important;
    padding: 10px 20px;
    text-decoration: none;
    /* font-size: 100px; */
    text-align: left;
    /* font-weight: 400; */
    /* border-radius: 30px; */
    width: 100%;
    cursor: pointer;
    transition: all 0.3s ease; /* Updated to transition all properties smoothly */
    font-family: 'Poppins', sans-serif;
    position: relative; /* Needed for the pseudo-elements */
    overflow: hidden; /* Ensures pseudo-elements do not spill out of button boundaries */
}

/* Add hover effect */
.invisible-btn:hover {
    background-color: #011329; /* Darker background on hover */
    color: #011329; /* Change text color to yellow for visibility */
    font-weight: 600; /* Make the font weight heavier */
    transform: translateY(-2px); /* Slight lift effect */
    box-shadow: 0 4px 8px #011329; /* Adding a glowing shadow effect */
}

/* Add focus effect to improve accessibility */
.invisible-btn:focus {
    /* color: #011329; Darker background on hover */
    /* color: white; */
    /* font-weight: 600; */
    /* font-size: 18px; */
    /* color: #011329 !important; */
    /* font-style: italic; */
    font-weight: 600;
    opacity: .9;
    /* background-color: white !important; */
    /* padding: 8px 20px 8px 20px; */
    border-radius: 16px; 
    width: 100%;  
    /* box-shadow: 0 0 5px rgba(0, 146, 255, 0.6);  */
}

/* Styling for a glowing effect on hover using pseudo-elements */
.invisible-btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.4) 0%, transparent 80%);
    opacity: 0;
    transition: opacity 0.3s ease;
    border-radius: 30px; /* Match button border radius */
    color: white;
}

.invisible-btn:hover::before {
    opacity: 1; /* Fade in the radial highlight on hover */
    border-radius: 30px; /* Match button border radius */
    font-style: italic;
}



.invisible-btn.active {
    background-color: #0056b3 !important; /* Change to your preferred active color */
    color: white;
    font-weight: bold;
    border-radius: 30px; /* Match button border radius */
}

.invisible-btn.active::before {
    opacity: 0.7; 
    border-radius: 30px; /* Match button border radius */
}
