body {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}

/* ========== Main Content ========== */
.main_content {
    font-family: 'Poppins', sans-serif;
    background-color: rgba(50, 71, 94, 0.4);
    margin-left: 1%;
}