/* Global Reset */
body,
html {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #011329;
  color: white;
}

.profile-page {
  height: 100vh;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}



/* Main Content Area */
.main-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
  /* Enable vertical scrolling */
  scrollbar-width: thin;
  /* For Firefox */
  scrollbar-color: #3b5998 #1c1c1c;
  /* Thumb and Track colors for Firefox */
}

 /* For Chrome, Edge, and Safari */
 .my_blogs::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
}

.my_blogs::-webkit-scrollbar-track {
  background: #1c1c1c; /* Scrollbar track background */
  border-radius: 10px;
}

.my_blogs::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, #3b5998, #6a89cc); /* Gradient thumb */
  border-radius: 10px;
}

.my_blogs::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(45deg, #5a6ab0, #8a9edb); /* Hover effect for thumb */
}


.profile-info-container {
  padding: 1rem;
  background-color: rgba(50, 71, 94, 0.6);
  border-radius: 8px;
  margin: 1rem;
}

.profile-image-section {
  max-width: 30% !important;
}

.user-name {
  font-size: 112px;
}


.divider {
  border-top: 1px solid white;
  margin: 1rem 0;
}

/* Image Grid */
/* Ensure proper spacing between images */
.image-grid {
  padding: 20px; /* Add padding around the grid */
}

.image-grid .image-item {
  display: flex; /* Flex ensures consistent alignment */
  justify-content: center; /* Centers images horizontally */
  gap: 10px; /* Space between grid items */
}

.image-grid-img {
  width: 100%; /* Ensure full width of column */
  height: auto; /* Maintain aspect ratio */
  object-fit: cover; /* Cover content proportionally */
  border-radius: 10px; /* Rounded corners for images */
}


/* Media Queries */
@media (max-width: 576px) {

  /* Small phones */
  .profile-page {
    flex-direction: column;
  }

  .main-content {
    width: 100%;
    padding: 0;
  }
}

@media (min-width: 576px) and (max-width: 768px) {

  /* Tablets */
  .image-grid .image-item {
    flex: 0 0 50%;
    /* 2 columns */
  }
}

@media (min-width: 768px) and (max-width: 1200px) {

  /* Laptops */
  .image-grid .image-item {
    flex: 0 0 33.33%;
    /* 3 columns */
  }
}

@media (min-width: 1200px) {

  /* Large screens */
  .image-grid .image-item {
    flex: 0 0 20%;
    /* 5 columns for large desktops */
  }

  .main-content {
    padding: 2rem;
  }
}

@media (min-width: 1600px) {

  /* Huge screens */
  .image-grid .image-item {
    flex: 0 0 16.66%;
    /* 6 columns for huge screens */
  }
}